.drag-and-drop-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  height: 60vh;
  margin: auto;
}

.left-section,
.middle-section,
.right-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid rgb(6, 186, 0);
  border-radius: 5px;
  width: 30%;
  height: 100%;
}

.l-item {
  width: 80%;
  height: 100px;
  border: 1px solid rgb(6, 186, 0);
  margin: auto;
  list-style-type: none;
  margin-bottom: 10px;
}

#hi {
  width: 10%;
  height: 100px;
  border: 1px solid rgb(186, 0, 0);
}
