.delete-button-container {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.delete-button-container > button {
  padding: 15px;
  background-color: yellow;
  border-radius: 100%;
  border: 1px solid black;
  font-weight: bold;
}

.delete-button-container > button:hover {
  background-color: rgb(128, 211, 26);
}
