* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header-component {
  margin-top: 30px;
  margin-bottom: 30px;
}

.job-form {
  height: auto;
  width: 30%;
  margin: auto;
}

.job-column-container {
  max-width: 90%;
  display: flex;
  gap: 20px;
  justify-content: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  padding-left: 20px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
}

.input-and-running-job-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: auto;
}

.job-input-section {
  width: 28%;
  padding-left: 20px;
  background-color: white;
  height: 275px;
  border-radius: 5px;
  border: 4px solid grey;
}

.job-input-section h3 {
  text-align: center;
  text-decoration: underline;
}

.job-input-section > input {
  height: 30px;
  font-size: 1.1em;
  border-radius: 3px;
}

.job-input-section > input:focus {
  outline: 2px solid rgba(255, 166, 0); /* Highlight the focused element */
  background-color: rgba(255, 255, 0, 0.484);
  color: black;
}

.job-input-section-button {
  background-color: yellow;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
  border: 1px solid black;
}

.job-input-section-button:hover {
  background-color: green;
}
.job-input-section-button:active {
  transform: scale(1.5);
  background-color: green;
}

.submit-error-message {
  display: inline;
  color: red;
  font-weight: bold;
}

.running-joblist {
  border: 4px solid grey;
  border-radius: 5px;
  background-color: white;
  height: 275px;
  width: 28%;
  overflow: scroll;
  scrollbar-width: none;
  padding: 0px 10px;
}

.running-joblist h3 {
  text-decoration: underline;
  text-align: center;
}

.joblist-button-container {
  display: flex;
  gap: 80px;
}


.joblist-reset-button,
.joblist-toggle-button {
  background-color: yellow;
  border: none;
  padding: 5px;
  font-weight: bolder;
  border: 1px solid black;
}

.joblist-reset-button:hover {
  background-color: red;
  color: yellow;
  cursor: pointer;
}

.search-section {
  border: 4px solid grey;
  border-radius: 5px;
  background-color: white;
  width: 20%;
  height: 275px;
  overflow: scroll;
  scrollbar-width: none;
  padding: 0px 10px;
}

.search-section > input {
  height: 20px;
  font-size: 0.75em;
  border-radius: 3px;
  border-left: none;
}

.search-section button {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.search-section button:hover {
  background-color: green;
}
.search-section button:active {
  transform: scale(1.5);
  background-color: green;
}
